#wall .tag-1,
#tag-2,
#tag-3,
#tag-4,
#tag-5,
#tag-6,
#tag-7 {
  background: none !important;
}

#wall .tag-1{
  display: none;
}
#tag-2{
  display: none;
}
#tag-3.slick.wicked{
  display: none;
}
#tag-4{
  display: none;
}
#tag-5 .slick{
  display: none;
}
#tag-6{
  display: none;
}
#tag-7 .slick{
  display: none;
}
div#wall #tag-3.slick {
  display: none;
}
#wall #tag-2 {

display: none;
}